html, body {
	line-height: 2;
	margin: 0;
	padding: 0;
	background: #fafafa;
}

html, body, input, textarea, select {
	font-family: 'Raleway', sans-serif;
	color: #444;
	font-weight: 300;
	font-size: 18px;
}

h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 400;
}

h1 {
	display: none;
	font-size: 70px;
	font-weight: 900;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 12px;
}

img, .portfolio-block {
	max-width: 100%;
	height: auto;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		    border-radius: 2px;

	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
}

.portfolio-block img,
img.with-transparency {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

p {
	margin: 0 0 10px;
}

a {
	-webkit-transition: all ease 150ms;
	-moz-transition: all ease 150ms;
	-o-transition: all ease 150ms;
	transition: all ease 150ms;
	color: #428bca;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #2a6496;
	text-decoration: underline;
}

.container {
	width: 90%;
	max-width: 1060px;
	margin: 0 auto 0;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
	content: " ";
	display: table;
}

.clearfix:after,
.container:after {
	clear: both;
}

header {
	padding-bottom: 40px;
}

header img {
	-webkit-border-radius: none;
	   -moz-border-radius: none;
		    border-radius: none;

	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

header h1, header ul, header li {
	font-size: 1em;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

header h1 a {
	height: 46px;
	line-height: 0;
	display: block;
	padding: 10px 0;

	background-color: #61778D;
	background-color: rgba(0, 0, 0, 0.2);
}

nav {
	border-bottom: 1px solid #61778D;
	border-color: rgba(255,255,255,0.4);
}

nav li {
	font-size: 1em;
	margin: 0;
}

nav ul, nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

nav a {
	height: 50px;
	line-height: 50px;
	display: block;
	padding: 0px;
	text-decoration: none;
	color: #b3c1ce;
	background-color: #7691aa;
	background-color: rgba(255,255,255,0.1);
	font-weight: 400;
}

nav a:hover {
	color: #d9e0e6;
	text-decoration: none;
	background-color: #7e95aa;
	background-color: rgba(255,255,255,0.15);
}

nav a.cc-active,
nav a:active {
	background-color: #859bb1;
	background-color: rgba(255,255,255,0.3);
	color: #fff;
}

.hero, .bright-section {
	background: #caa780 url('../img/bright-background.jpg') no-repeat bottom center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #f2f2f2;
	text-align: center;
}

.bright-section {
	border-top: 1px solid #9E8264;
	border-bottom: 1px solid #9E8264;
}

.hero {
	background-color: #70757e;
	background-image: url('../img/hero-background.jpg');
	padding: 0 0 80px 0;
}

.hero h1, .hero h2 {
	display: block;
	line-height: 1.2;
	margin: 0;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.44);
}

.thin-hero {
	padding: 0 0 30px 0;
}

.subheader {
	text-align: center;
	max-width: 850px;
}

.alternate-section {
	background: #f2f2f2;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.portfolio-block {
	background: #F8F8F8;
	border: 2px solid #FFF;
	color: #444;
	line-height: 1;
	text-align: left;
    padding-bottom: 5px;
    max-width: 350px;
    margin: 0 auto;
}

.portfolio-block img {
	border-bottom: 1px solid #EEE;
}

.portfolio-block h4,
.portfolio-block p {
	padding: 5px 10px;
	line-height: 1;
	margin: 0;
}

.see-more {
	text-align: right;
	margin: 20px 1% 10px;
}

.see-more a {
	padding: 10px;
	color: #E0E0E0;
}

.staff-profile img {
	float: left;
	margin: 10px 15px 5px 0;
}

iframe {
  background: #e5e3df;
  border: 1px solid #9e9d9a;
  width: 100%;
  overflow:hidden;
  margin: 0;
}

footer {
	background: #333333;
	border-top: 1px solid #131313;
}

footer p {
	text-align: center;
	margin: 0;
	color: #888;
}

footer .copyright {
	float: left;
}

.thirds > div, .halves > div,
.staff-profile + .staff-profile {
	margin-top: 20px;
}

section, footer {
	padding: 15px 0;
}

form label {
	display: none;
}

form .container {
	max-width: 800px;
}

input[type="text"],
input[type="email"],
input[type="submit"],
.button,
textarea {
	margin: 20px 0;
	padding: 15px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		    border-radius: 3px;
}

input[type="text"],
input[type="email"],
textarea {
	background: #f5f5f5;
	border: 1px solid #bbb;
}

input[type="submit"],
.button {
	background: #1a73e2;
	color: #fff;
	border: 1px solid #114c95;
	cursor: pointer;
}

input[type="submit"]:hover,
.button:hover {
	text-decoration: none;
	color: #ddd;
}

input[type="submit"]:active,
.button:active {
	background: #115FC0;
}

textarea {
	min-height: 170px;
}

@media only screen and (min-width: 725px) {

	.thin-hero {
		padding: 0 0 40px 0;
	}

	header h1 a {
		padding: 2px 0;
		background: none;
	}

	header {
		padding-top: 70px;
		width: 90%;
		max-width: 1060px;
		margin: 0 auto 0;
	}

	header h1 {
		float: left;
	}

	nav {
		text-align: center;
		float: right;
		border: 0;
	}

	nav li {
		width: 110px;
		margin: 0 10px;
		display: inline-block;
	}

	nav a {
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
			    border-radius: 5px;
	}
}

@media only screen and (min-width: 800px) {

	input[type="submit"], .button {
		width: auto;
	}

	.button {
		display: inline-block;
		padding: 15px 30px;
	}

	input[type="submit"] {
		float: right;
		margin: 0;
	}

	section, footer {
		padding: 40px 0;
	}

	.left-column, .right-column {
		width: 64%;
	}

	.right-column {
		width: 31%;
		margin: 0 0 0 5%;
	}

	.thirds + .thirds,
	.halves + .halves,
	.thirds + .halves,
	.halves + .thirds {
		margin-top: 20px;
	}

	.thirds > div, .halves > div, .full {
		text-align: center;
		margin: 0 1%;
	}

	.thirds > div, .halves > div,
	.left-column, .right-column {
		float: left;
	}

	.thirds > div {
		width: 31%;
	}

	.quad + .quad,
	.halves + .halves,
	.quad + .halves,
	.halves + .quad {
		margin-top: 20px;
	}

	.quad > div, .halves > div, .full {
		text-align: center;
		margin: 0 1%;
	}

	.quad > div, .halves > div,
	.left-column, .right-column {
		float: left;
	}

	.quad > div {
		width: 23%;
	}

	.halves > div {
		width: 48%;
	}

	.full > div {
		width: 98%;
	}
}

}

.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: blue;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
	padding: 1em;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#pay_h_section {
	padding-bottom: 0px;
}

#pay_h2_section {
	padding-bottom: 0px;
	padding-top: 0px;
}

#pay_cont_1_section {
	padding-top: 0px;
	padding-bottom: 25px;
}

#pay_h {
    max-width: 650px;
	text-align: left;
}

#pay_h > h3 {
    margin-bottom: 1;
	line-height: initial;
	}

#pay_h > p {
	font-size: 16px;
}

#pay_cont_1 {
    max-width: 650px;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.2);
}

#pay_cont_1 > .c_0 > h4 {
    margin-bottom: 10px;
	margin-top: 0px;
	line-height: initial;
}

#pay_cont_1 > .c_0 > p {
	font-size: 16px;
}

.c_0 {
	font-size: 17px;
	padding: 20px;
	padding-bottom: 55px;
}

#pay_cont_2 {
    max-width: 550px;
}

#slider {
	width: 480px;
    height: 3px;
    background: #0b0;
}

#slider-range-min
{
	width: 480px;
    height: 3px;
    background: #bbb;
}

#span_1 {
	left: 0%; 
	border: 7px solid #0b0;
    background: #0b0;
    font-weight: normal;
    color: #0b0;
	top: -.5em;
    margin-left: -.3em;
	position: absolute;
    z-index: 1;
    width: 0.4em;
    height: 0.4em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
	border-radius: 13px;
}

#span_2 {
	left: 100%; 
	border: 7px solid #bbb;
    background: #bbb;
    font-weight: normal;
    color: #0b0;
	top: -.5em;
    margin-left: -.3em;
	position: absolute;
    z-index: 1;
    width: 0.4em;
    height: 0.4em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
	border-radius: 13px;
}

#amount {
    width: 90px;
	margin: -23px 5px;
	float: right;
	    padding: 9px;
	    background: #fff;
		border: 1px solid #ddd; 
		color:#000; 
		font-weight:bold;
	
}

#amount_1  {
background: #f5f5f5;
width: 90px;
	margin: -2px 5px;
	float: ;
	    padding: 5px;
	    background: none;
		border: 0px solid #ddd; 
		color:#fff; 
		font-weight:bold;
		font-size: 22px;
	
}

.c_1 {
	background: #34495e;
	color: #fff;
	    padding-top: 25px;
    padding-bottom: 20px;
}


#c_1_0 {
margin: 0px;
    width: 120px;
    padding-left: 295px;
    font-size: 15px;
    float: left;
}	

#c_1_2 {
	padding-left: 40px;
    padding-right: 40px;
    background: #469d3b;
    padding-top: 9px;
    padding-bottom: 9px;
    position: relative;
    margin-top: -41px;
    margin-right: 26px;
    font-weight: 600;
    color: #eeeeee;
    font-size: 21px;
    border-radius: 6px;
	}

#pay_cont_3

{
    max-width: 650px;
	text-align: left;
}

#pay_cont_3 > p
{
	padding-left: 45px;
	}
	
	#pay_cont_3 > hr
{
	margin-top: 25px;
	}